body {
	background: #FFB443;
}

.container {
	max-width: 1200px;
	position: relative;
	margin: 80px auto;
	background: #FFF;
}

.capa {
	width: 100%;
}

.enredo {
	text-align: center;
}

.enredo-titulo {
	text-align: center;
	font-size: 60px;
}

.font-cursive {
	font-family: cursive;
}

.font-serif {
	font-family: serif;
}

.enredo-texto {
	font-size: 22px;
	padding: 0 20px;
}

.enredo-img {
	margin: 50px 0;
	width: 90%;
	cursor: pointer;
	transition: 1s;
}

.enredo-img:hover {
	transform: scale(1.1);
}

.personagens {
	text-align: center;
}

.personagens-lista {

}

.curiosidades {
	text-align: center;
}


.curiosidades-titulo {
	font-size: 40px;
}

.curiosidades-lista {
	list-style: none;
	font-size: 22px;
}

.lista-titulo {
	text-align: left;
}

.curiosidades-subtitulo {
	text-align: left;
}

.curiosidades-texto {
	text-align: left;
}

.curiosidades-imgs {
	width: 90%;
	cursor: pointer;
	transition: 1s;
	box-shadow: 10px 10px;
	border-radius: 5px;
	margin: 20px 0;
}

.curiosidades-imgs:hover {
	transform: scale(1.1);
}

.curiosidades-subtitulo {
	text-align: left;
}