body {
	background: #FFB443;
}

.container {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	background: #FFF;
}

.capa {
	width: 100%;
}

.enredo {
	text-align: center;
}

.enredo-titulo {
	text-align: center;
	font-size: 60px;
	font-family: serif;
}

.enredo-texto {
	font-size: 22px;
	padding: 0 20px;
	font-family: cursive;
}

.enredo-img {
	margin-top: 30px;
	width: 90%;
	cursor: pointer;
	transition: 1s;
}

.enredo-img:hover {
	transform: scale(1.1);
}