/* CSS do background da página */

body {
	background: #FFB443;
}

.container {
	max-width: 1200px;
	position: relative;
	margin: 80px auto;
	background: #FFF;
}

/* CSS do cabeçalho da página */

.capa {
	width: 100%;
}

/* CSS da seção enredo */

.enredo {
	text-align: center;
}

.enredo-titulo {
	text-align: center;
	font-size: 60px;
}

.font-cursive {
	font-family: cursive;
}

.font-serif {
	font-family: serif;
}

.enredo-texto {
	font-size: 22px;
	padding: 0 20px;
}

.enredo-img {
	margin: 50px 0;
	width: 90%;
	cursor: pointer;
	transition: 1s;
}

.enredo-img:hover {
	transform: scale(1.1);
}

/* CSS da seção personagens */

.personagens {
	text-align: center;
}

.personagens-titulo {
	font-size: 40px;
}

.personagens-lista {
	font-size: 22px;
	list-style: none;
}

.personagens-img {
	width: 80%;
	border-radius: 5px;
}

.personagens-subtitulo {
	font-size: 25px;
}

@media screen and (min-width: 200px) {
	.personagens-subtitulo {
		position: relative;
    	right: 13px;
	}

	.personagens-texto {
		position: relative;
		right: 12px;
	}

	.personagens-img {
		position: relative;
		right: 14px;
	}
}

/* CSS da seção curiosidades */

.curiosidades {
	text-align: center;
}


.curiosidades-titulo {
	font-size: 40px;
}

.curiosidades-lista {
	list-style: none;
	font-size: 22px;
}

.lista-titulo {
	text-align: left;
}

.curiosidades-subtitulo {
	text-align: left;
}

.curiosidades-texto {
	text-align: left;
}

.curiosidades-imgs {
	width: 80%;
	cursor: pointer;
	transition: 1s;
	box-shadow: 10px 10px;
	border-radius: 5px;
	margin: 20px 0;
}

.curiosidades-imgs:hover {
	transform: scale(1.1);
}

.curiosidades-subtitulo {
	text-align: left;
}

@media screen and (min-width: 200px) {
	.curiosidades-subtitulo {
		text-align: center;
	}

	.curiosidades-texto {
		text-align: center;
		position: relative;
   	 	right: 12px;
	}
}

@media screen and (min-width: 700px) {
	.curiosidades-texto {
		text-align: left;
	}
}

/* CSS da seção bibliografia */

.bibliografia {
	border-top: 1px dashed #DDD;
	padding: 10px 20px;
}

.bibliografia-titulo {
	font-size: 23px;
}

.bibliografia-texto {
	font-family: "Georgia", serif;
}

.link {
	color: #FF8C00;
	text-decoration: none;
}